table#othelloTable {
    width: 70vmin;
    height: 70vmin;
    border: 1px solid black !important;
    background-color: #28a745;
}

td, tr {
    border: 1px solid black !important;
}

i.fa{
    font-size: 5vmin;
}

i.fa[game='0']{
    font-size: 8vmin;
}

i.fa.fa-circle[side='white']{
    color: white;
}

i.fa.fa-circle[side='black'] {
    color: black;
}

i.fa.fa-circle.was::before {
    border: 6px solid red;
    border-radius: 50%;
}

i.fa.fa-circle-thin {
    color: black;
}

#divButton {
    padding: 35vh 0vh;
}

section#othelloSection{
    /*background-image: url("https://media.istockphoto.com/photos/abstract-pastel-teal-color-and-gradient-cyan-light-background-with-picture-id1352174478?b=1&k=20&m=1352174478&s=170667a&w=0&h=65U48Qmb7YSlFfnZPCo9Ags6nO001ezS07rBPtMnG1s=");*/
    /*background-color: #eeeeee;*/
    /*background-position: center;*/
    /*background-size: cover;*/
    background: rgb(137,166,172);
    background: linear-gradient(90deg, rgba(137,166,172,1) 0%,
                                        rgba(129,162,169,1) 15%,
                                        rgba(148,179,184,1) 32%,
                                        rgba(163,191,195,1) 48%,
                                        rgba(163,191,195,1) 60%,
                                        rgba(129,162,169,1) 85%,
                                        rgba(137,166,172,1) 100%);
}

div#divButton button, div#divRow button {
    padding: 2vmin 6vmin;
    font-size: 4vmin;
    margin: 4vmin 2vmin;
}

span {
    font-size: 8vmin;
}

.hero_area {
    min-height: auto;
}
